version: '3.4'

services:
  db:
    environment:
      - SA_PASSWORD=Fintrack1@98765 '${DB_PASSWORD:-Fintrack1@98765}'
    image: 'mcr.microsoft.com/mssql/server:2022-latest'
    ports:
      - '7900:1433'
    container_name: FbIdentityServer-db
    volumes:
      - 'db:/var/lib/mssql/data'
  FnbIdentity:
    build:
      Context:
      dockerfile: ./FnbIdentity/Dokerfile
    depends_on:
      - db
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet FnbIdentity.dll"
    environment:
      - ASPNETCORE_ENVIORMENT=development
      - ASPNETCORE_URLS= HTTPS://+5443
      - ASPNETCORE_Kestral__Certificates__Defaults__Password=Fintrack1@3
      - ASPNETCORE_Kestral__Certificates__Defaults__Path=/https/localhost.pfx
      - CONNECTIONSTRINGS__Identity=server=db;ports=1433;Database=FbIdentityUser;User Id=sa;Password=Fintrack1@98765;
      - CONNECTIONSTRINGS__IdentityServer=server=db;ports=1433;Database=FbIdentityServer;User Id=sa;Password=Fintrack1@98765;
    ports:
      - "5443:5443"
    volumes:
      - ./localhost.pfx:https/localhost.pfx:ro
      - .localhost.crt:/usr/localhost/share/ca-certificates/localhost.crt:ro
volumes:
  db:


